
CreateFile/bin/Debug/CreateFile.dll

CreateFile/bin/Debug/CreateFile.pdb

CreateFile/obj/Debug/CreateFile.csproj.FileListAbsolute.txt

CreateFile/obj/Debug/CreateFile.csprojResolveAssemblyReference.cache

CreateFile/obj/Debug/CreateFile.dll

CreateFile/obj/Debug/CreateFile.pdb

CreateFile/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

CreateFileForm/bin/Debug/CreateFile.dll

CreateFileForm/bin/Debug/CreateFile.pdb

CreateFileForm/bin/Debug/CreateFileForm.exe

CreateFileForm/bin/Debug/CreateFileForm.exe.config

CreateFileForm/bin/Debug/CreateFileForm.pdb

CreateFileForm/bin/Debug/CreateFileForm.vshost.exe

CreateFileForm/bin/Debug/CreateFileForm.vshost.exe.config

CreateFileForm/bin/Debug/CreateFileForm.vshost.exe.manifest

CreateFileForm/obj/Debug/CreateFileForm.csproj.FileListAbsolute.txt

CreateFileForm/obj/Debug/CreateFileForm.csproj.GenerateResource.Cache

CreateFileForm/obj/Debug/CreateFileForm.csprojResolveAssemblyReference.cache

CreateFileForm/obj/Debug/CreateFileForm.exe

CreateFileForm/obj/Debug/CreateFileForm.Form1.resources

CreateFileForm/obj/Debug/CreateFileForm.pdb

CreateFileForm/obj/Debug/CreateFileForm.Properties.Resources.resources

CreateFileForm/obj/Debug/DesignTimeResolveAssemblyReferences.cache

CreateFileForm/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

CreateFileForm/obj/Debug/TempPE/Service References.ServiceReference1.Reference.cs.dll

CreateFileService/bin/Debug/CreateFile.dll

CreateFileService/bin/Debug/CreateFile.pdb

CreateFileService/bin/Debug/CreateFileService.exe

CreateFileService/bin/Debug/CreateFileService.exe.config

CreateFileService/bin/Debug/CreateFileService.pdb

CreateFileService/obj/Debug/CreateFileService.csproj.FileListAbsolute.txt

CreateFileService/obj/Debug/CreateFileService.csproj.GenerateResource.Cache

CreateFileService/obj/Debug/CreateFileService.csprojResolveAssemblyReference.cache

CreateFileService/obj/Debug/CreateFileService.exe

CreateFileService/obj/Debug/CreateFileService.pdb

CreateFileService/obj/Debug/CreateFileService.ProjectInstaller.resources

CreateFileService/obj/Debug/DesignTimeResolveAssemblyReferences.cache

CreateFileService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

ServiceTest/bin/Debug/ServiceTest.exe

ServiceTest/bin/Debug/ServiceTest.exe.config

ServiceTest/bin/Debug/ServiceTest.pdb

ServiceTest/bin/Debug/ServiceTest.vshost.exe

ServiceTest/bin/Debug/ServiceTest.vshost.exe.config

ServiceTest/bin/Debug/ServiceTest.vshost.exe.manifest

ServiceTest/obj/Debug/DesignTimeResolveAssemblyReferences.cache

ServiceTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

ServiceTest/obj/Debug/ServiceTest.csproj.FileListAbsolute.txt

ServiceTest/obj/Debug/ServiceTest.csproj.GenerateResource.Cache

ServiceTest/obj/Debug/ServiceTest.csprojResolveAssemblyReference.cache

ServiceTest/obj/Debug/ServiceTest.exe

ServiceTest/obj/Debug/ServiceTest.pdb

ServiceTest/obj/Debug/ServiceTest.Properties.Resources.resources

ServiceTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs

ServiceTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs

ServiceTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs

TwoWCF/bin/Debug/TwoWCF.exe

TwoWCF/bin/Debug/TwoWCF.exe.config

TwoWCF/bin/Debug/TwoWCF.pdb

TwoWCF/obj/Debug/DesignTimeResolveAssemblyReferences.cache

TwoWCF/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

TwoWCF/obj/Debug/TwoWCF.csproj.FileListAbsolute.txt

TwoWCF/obj/Debug/TwoWCF.csproj.GenerateResource.Cache

TwoWCF/obj/Debug/TwoWCF.csprojResolveAssemblyReference.cache

TwoWCF/obj/Debug/TwoWCF.exe

TwoWCF/obj/Debug/TwoWCF.pdb

TwoWCF/obj/Debug/TwoWCF.ProjectInstaller.resources

TwoWCFTest/bin/Debug/TwoWCFTest.exe

TwoWCFTest/bin/Debug/TwoWCFTest.exe.config

TwoWCFTest/bin/Debug/TwoWCFTest.pdb

TwoWCFTest/bin/Debug/TwoWCFTest.vshost.exe

TwoWCFTest/bin/Debug/TwoWCFTest.vshost.exe.config

TwoWCFTest/bin/Debug/TwoWCFTest.vshost.exe.manifest

TwoWCFTest/obj/Debug/DesignTimeResolveAssemblyReferences.cache

TwoWCFTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

TwoWCFTest/obj/Debug/TempPE/Service References.ServiceA.Reference.cs.dll

TwoWCFTest/obj/Debug/TempPE/Service References.ServiceB.Reference.cs.dll

TwoWCFTest/obj/Debug/TwoWCFTest.csproj.FileListAbsolute.txt

TwoWCFTest/obj/Debug/TwoWCFTest.csproj.GenerateResource.Cache

TwoWCFTest/obj/Debug/TwoWCFTest.csprojResolveAssemblyReference.cache

TwoWCFTest/obj/Debug/TwoWCFTest.exe

TwoWCFTest/obj/Debug/TwoWCFTest.Form1.resources

TwoWCFTest/obj/Debug/TwoWCFTest.pdb

TwoWCFTest/obj/Debug/TwoWCFTest.Properties.Resources.resources

WcfService/bin/WcfService.dll

WcfService/bin/WcfService.pdb

WcfService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

WcfService/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs

WcfService/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs

WcfService/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs

WcfService/obj/Debug/WcfService.csproj.FileListAbsolute.txt

WcfService/obj/Debug/WcfService.csprojResolveAssemblyReference.cache

WcfService/obj/Debug/WcfService.dll

WcfService/obj/Debug/WcfService.pdb
